$dark-yellow: #ffc72cff;
$dark-red: #c8102eff;
$wine-red: #800020;
$light-green: #00a859ff;
$light-gray: #e8ebf7ff;
$light-blue: #acbed8ff;
$light-orange: #ffa500;
$dark-brown: #8b4513;
$dark-gray: #a9a9a9;
$navy-blue: #000080;
$light-red: #ff6347;
$light-yellow: #ffffe0;
$dark-green: #006400;
$dark-cyan: #008b8b;
